body{
	
	
	
}

header{
	
	height: 150px;
	background-image:url(../img/film.png);
	
}

footer{
	
	height: 150px;
	background-image:url(../img/film.png);
	
}

	
section{
	
	height: 500px;
	width: 700px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	
}

table, td, tr{

	border: 1px solid black;
	text-align: center;
	
}